body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main.plans{
  flex: 1 calc(100vh - 110px);
  display: inline;
  justify-content: space-around;

}

main.routes{
  flex-direction: row;
  align-items: start;
}

.login {
  background-image: url('IMG_2748.jpeg');
  background-size: cover;
  background-position: center;
}

.login-box {
  color: #343a40;
  border-radius: 10px;
  background: white;
  padding: 1rem;
}
footer {
  flex: 0 30px;
}

main.profile {
   display: flex;
   flex-direction: column;
   margin: 0px 20%;
}

section {
  max-width: 100%;
  flex: 1;
  align-items: start;
  margin: 25px;
}
section section{

}

.profile section.top{
  align-items: center;
  flex: min(25%, 100px);
  margin: 25px;
  display: flex;
  flex-direction: row;

}
.profile section.bottom{
  flex: 3;
  margin: 25px;
  display: flex;
  flex-direction: row;

}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
